<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="Agency Parallax Responsive HTML5/CSS3 Template from FIFOTHEMES.COM">
  <meta name="author" content="FIFOTHEMES.COM">
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine" />

  <!-- build:css({app,.tmp}) css/main.css -->
  <!-- Library CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/team-member.css" media="screen">
  <link rel="stylesheet" href="css/fonts/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="css/animations.css" media="screen">
  <link rel="stylesheet" href="css/prettyPhoto.css" media="screen">
  <link rel="stylesheet" href="css/jquery.bxslider.css" media="screen">
  <!-- Theme CSS -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/global.css">
  <!-- Skin -->
  <link rel="stylesheet" href="css/colors/blue.css" class="colors">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/main.css">
  <!-- endbuild -->

  <!-- Favicons -->
  <link rel="shortcut icon" href="img/ico/favicon.ico">
  <link rel="apple-touch-icon" href="img/ico/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/ico/apple-touch-icon-72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/ico/apple-touch-icon-114.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/ico/apple-touch-icon-144.png">
  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>
  <body data-spy="scroll" data-target="#navigation" data-offset="75">
    {% include header.html %}

    {{ content }}

    {% include footer.html %}
    </body>
</html>
