---
layout: default
title: DrupalCamp IL 14
---

<!-- Section 2 -->
  {% include about.html %}
<!-- /Section 2 -->

<!-- Section 3 -->
  {% if site.lecturers %}
    <h1>{{ site.lecturers }}</h1>
    {% include lecturers.html %}
  {% endif %}
<!-- /Section 3 -->

<!-- Program -->
  {% if site.program_active %}
    {% include program.html %}
  {% else %}
    {% include lecture_contact_form.html %}
  {% endif %}
<!-- /Program -->

<!-- Section 5 -->
  {% include quotes.html %}
<!-- /Section 5 -->

<!-- Section 6 -->
  {% include sponsers.html %}
<!-- /Section 6 -->

<!-- Section 7 -->
  {% include contacts.html %}
<!-- /Section 7 -->

<!-- Section 8 -->
  {% include tickets.html %}
<!-- /Section 8 -->
<!-- Section 9 -->
  {% include map.html %}
<!-- /Section 9 -->
