---
layout: default
title: DrupalCamp IL 14
---

<!-- Section 2 -->
  {% include about.html %}
<!-- /Section 2 -->

<!-- Section 3 -->
  {% if site.lecturers %}
    {% include lecturers.html %}
  {% endif %}
<!-- /Section 3 -->

  
<!-- Program -->
{% if site.program_active %}
  {% include program.html %}
{% else %}
  {% include lecture_contact_form.html %}
{% endif %}
<!-- /Program -->

<!-- Section 6 -->
  {% include sponsors.html %}
<!-- /Section 6 -->

<!-- Section 8 -->
  {% include tickets.html %}
<!-- /Section 8 -->
<!-- Section 9 -->
  {% include map.html %}
<!-- /Section 9 -->
