<section id="section2" class="about">
<div class="container">
  <!-- Title row -->
  <div class="row">
    <div class="col-md-12 big-title">
      <h2>על הכנס</h2>
    </div>

    <div class="clearfix"></div>

    <div class="col-md-12 sub-title text-center">
      <h3>
        כנסים של דרופל מתקיימים בשתי מתכונות: כנס עולמי - DrupalCon וכנס מקומי - DrupalCamp. כנסים מקומיים של דרופל, כמו זה, מתקיימים באופן מצומצם ומטרתם לחבר ולהכיר את הנפשות הפועלות בקהילה המקומית. כמו כן, מאפשר להציג פתרונות שחברות פיתחו ולהכיר את דרופל לשוק המקומי (למי שעדיין לא יודע מה זה דרופל).
        <br /><br />
        בכנס יעלו על הפרק נושאים כמו: Drupal 8, Headless Drupal, MEAN.io, ניהול פרויקטים וכו'.
      </h3>
    </div>
  </div>
  <!-- /Title row -->

  <!--<div class="row">-->
    <!--<div class="col-md-12">-->
      <!--<img src="img/imac-device.png" alt="About Us" class="img-responsive">-->
    <!--</div>-->
  <!--</div>-->


</div>

<!-- Service wrap -->
<div class="about-wrap">
  <div class="parallax-layer">
    <div class="icons"></div>
  </div>
  <div class="parallax-layer">
    <div class="texture"></div>
  </div>
  <div class="container">
    <!-- Content row -->
    <div class="row">
      <!-- Content box 1 -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="content-box big ch-item">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1">
                <i class="fa fa-btc"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h4>השתתפות</h4>
            <p>
              אין קאץ׳. אין קומבינה. כל מה שאתם צריכים לעשות זה פשוט לבוא ולהנות. אבל מהרו! יש רק 120 מקומות!
            </p>
          </div>
        </div>
      </div>
      <!-- /Content box 1 -->

      <!-- Content box 2 -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="content-box big ch-item">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1">
                <i class="fa fa-location-arrow"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h4>מיקום</h4>
            <p>
              בניגוד לשנים קודמות, הכנס השנה ייערך ללא תשלום מכיוון ש"גוגל קמפוס" תומכים ומארחים את קהילת הדרופל בקומה ה-34, בבניין אלקטרה תל-אביב.
            </p>
          </div>
        </div>
      </div>
      <!-- /Content box 2 -->

      <!-- Content box 3 -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="content-box big ch-item">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1">
                <i class="fa fa-comments"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h4>הקהילה</h4>
            <p>
              קומי מהמחשב! עזוב את המקלדת! בואו ותכירו את קהילת הדרופל הישראלית טיפה יותר לעומק.
            </p>
          </div>
        </div>
      </div>
      <!-- /Content box 3 -->
    </div>
    <!-- /Content row -->
  </div>
</div>
<!-- /Service wrap -->

<!-- Agency team -->
<div class="team-wrap">
  <div class="container">
    <!-- Title row -->
    <div class="row">
      <div class="col-md-12 big-title">
        <h2>הצוות</h2>
      </div>

      <div class="clearfix"></div>

      <div class="col-md-12 sub-title text-center">
        <h3>צוות Drupalcamp IL 2014</h3>
      </div>
    </div>
    <!-- /Title row -->

    <!-- Team members row 1-->
    <div class="row team-members">
      <!-- item 1 -->
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 item">
        <div class="team-member">
          <div class="team-member-holder">
            <div class="team-member-image">
              <img alt="" src="img/team/roy.jpg">
              <div class="team-member-links">
                <div class="team-member-links-list">
                  <a target="_blank" class="facebook team-member-links-item" href="https://www.facebook.com/roy.segall"><i class="fa fa-facebook"></i></a>
                  <a target="_blank" class="twitter team-member-links-item" href="https://twitter.com/RoySegall"><i class="fa fa-twitter"></i></a>
                  <a target="_blank" class="linkedin team-member-links-item" href="https://www.linkedin.com/pub/roy-segall/4a/b05/304"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
            <div class="team-member-meta">
              <h4 class="team-member-name">רועי סגל</h4>
              <h5>גיזרה</h5>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
      <!-- item 2 -->
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 item">
        <div class="team-member">
          <div class="team-member-holder">
            <div class="team-member-image">
              <img alt="" src="img/team/yaron_miro.jpg">
              <div class="team-member-links">
                <div class="team-member-links-list">
                  <a target="_blank" class="facebook team-member-links-item" href="https://www.facebook.com/yaron.miro"><i class="fa fa-facebook"></i></a>
                  <a target="_blank" class="twitter team-member-links-item" href="https://twitter.com/yaronMiro"><i class="fa fa-twitter"></i></a>
                  <a target="_blank" class="linkedin team-member-links-item" href="https://www.linkedin.com/pub/yaron-miro/a/a6/13a"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
            <div class="team-member-meta">
              <h4 class="team-member-name">ירון מירו</h4>
              <h5>גיזרה</h5>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
      <!-- item 3 -->
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 item">
        <div class="team-member">
          <div class="team-member-holder">
            <div class="team-member-image">
              <img alt="" src="img/team/nader.jpg">
              <div class="team-member-links">
                <div class="team-member-links-list">
                  <a target="_blank" class="facebook team-member-links-item" href="https://www.facebook.com/nader.safadi7"><i class="fa fa-facebook"></i></a>
                  <a target="_blank" class="twitter team-member-links-item" href="https://twitter.com/nedSaf"><i class="fa fa-twitter"></i></a>
                  <a target="_blank" class="linkedin team-member-links-item" href="https://www.linkedin.com/pub/nader-safadi/86/9ba/86a"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
            <div class="team-member-meta">
              <h4 class="team-member-name">נאדר ספדי</h4>
              <h5>גיזרה</h5>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
      <!-- item 4 -->
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 item">
        <div class="team-member">
          <div class="team-member-holder">
            <div class="team-member-image">
              <img alt="" src="img/team/brice.jpg">
              <div class="team-member-links">
                <div class="team-member-links-list">
                  <a target="_blank" class="facebook team-member-links-item" href="https://www.facebook.com/brice.lenfant"><i class="fa fa-facebook"></i></a>
                  <a target="_blank" class="linkedin team-member-links-item" href="https://www.linkedin.com/pub/brice-lenfant/8/a61/786"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
            <div class="team-member-meta">
              <h4 class="team-member-name">בריס לונפו</h4>
              <h5>גיזרה</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 item">
        <div class="team-member">
          <div class="team-member-holder">
            <div class="team-member-image">
              <img alt="" src="img/team/orit.png">
              <div class="team-member-links">
                <div class="team-member-links-list">
                </div>
              </div>
            </div>
            <div class="team-member-meta">
              <h4 class="team-member-name">אורית גרון</h4>
              <h5>גיזרה</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 item">
        <div class="team-member">
          <div class="team-member-holder">
            <div class="team-member-image">
              <img alt="" src="img/team/Inbal.jpg">
              <div class="team-member-links">
                <div class="team-member-links-list">
                  <a target="_blank" class="linkedin team-member-links-item" href="https://www.linkedin.com/pub/inbal-jona/1/378/465"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
            <div class="team-member-meta">
              <h4 class="team-member-name">ענבל יונה</h4>
            </div>
          </div>
        </div>
      </div>

      <!-- End -->
    </div>
    <!-- /Team members row 1-->
  </div>
</div>
<!-- /Agency team -->

<!-- Fun Facts -->
<div class="fun-wrap">
  <div class="texture-layer">
    <div class="container">
      <!-- Title row -->
      <div class="row">
        <div class="col-md-12 big-title light wow">
          <h2>עובדות על הכנס</h2>
        </div>
      </div>
      <!-- /Title row -->

      <div class="row">
        <div class="col-md-3 wow">
          <div class="fun-box">
            <i class="fa fa-graduation-cap"></i>
            <span class="fun" data-from="0" data-to="21" data-speed="5000" data-refresh-interval="50"></span>
            <p>מרצים</p>
          </div>
        </div>

        <div class="col-md-3 wow">
          <div class="fun-box">
            <i class="fa fa-users"></i>
            <span class="fun" data-from="0" data-to="120" data-speed="5000" data-refresh-interval="50"></span>
            <p>משתתפים</p>
          </div>
        </div>

        <div class="col-md-3 wow">
          <div class="fun-box">
            <i class="fa fa-drupal"></i>
            <span class="fun" data-from="0" data-to="1" data-speed="5000" data-refresh-interval="50"></span>
            <p>קהילת דרופל</p>
          </div>
        </div>

        <div class="col-md-3 wow">
          <div class="fun-box">
            <i class="fa fa-cutlery"></i>
            <span class="fun" data-from="0" data-to="3000" data-speed="5000" data-refresh-interval="50"></span>
            <p>סנדוויצ'ים</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Fun Facts -->
</section>
