<section id="section2" class="about">
<div class="container">
  <!-- Title row -->
  <div class="row">
    <div class="col-md-12 big-title wow bounceIn">
      <h2>על הכנס</h2>
    </div>

    <div class="clearfix"></div>

    <div class="col-md-12 sub-title text-center wow slideInRight">
      <h3>כנסים של דרופל מתקיימים בשתי מתכונות: כנס עולמי, DrupalCon, וכנס מקומי, DrupalCamp. כנסים מקומיים של דרופל, כמו זה, מתקיימים באופן מצומצם ובאים  לחבר את הנפשות הפועלות בקהילה המקומית, להציג פתרונות שחברות פיתחו עם ניואנסים משלהם ובשביל להכיר את דרופל לשוק המקומי שעוד לא יודע מה זה דרופל.</h3>
    </div>
  </div>
  <!-- /Title row -->

  <!--<div class="row">-->
    <!--<div class="col-md-12">-->
      <!--<img src="img/imac-device.png" alt="About Us" class="img-responsive">-->
    <!--</div>-->
  <!--</div>-->


</div>

<!-- Service wrap -->
<div class="about-wrap">
  <div class="parallax-layer">
    <div class="icons"></div>
  </div>
  <div class="parallax-layer">
    <div class="texture"></div>
  </div>
  <div class="container">
    <!-- Content row -->
    <div class="row">
      <!-- Content box 1 -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="content-box big ch-item wow fadeInLeft">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1">
                <i class="fa fa-btc"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h4>זה בחינם</h4>
            <p>
              אין קאץ׳. אין קומבינה. כל מה שאתה צריך לעשות זה פשוט לבוא ולהנות. אבל מהר! יש רק 120 מקומות.
            </p>
          </div>
        </div>
      </div>
      <!-- /Content box 1 -->

      <!-- Content box 2 -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="content-box big ch-item wow fadeInDown">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1">
                <i class="fa fa-location-arrow"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h4>מיקום</h4>
            <p>
              השנה, בניגוד לשנים קודמות, אנחנו מתארחים בקמפוס של גוגל בקומה ה-34 בבניין אקלטרה. הקומה מעוצבת בטוב טעם וברמה גבוהה.
            </p>
          </div>
        </div>
      </div>
      <!-- /Content box 2 -->

      <!-- Content box 3 -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="content-box big ch-item wow fadeInRight">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1">
                <i class="fa fa-comments"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h4>הקהילה</h4>
            <p>
              קום מהמחשב ועזוב את המקלדת! בוא ותכיר את קהילת הדרופל הישראלית טיפה יותר לעומק.
            </p>
          </div>
        </div>
      </div>
      <!-- /Content box 3 -->
    </div>
    <!-- /Content row -->
  </div>
</div>
<!-- /Service wrap -->

<!-- Agency team -->
<div class="team-wrap">
  <div class="container">
    <!-- Title row -->
    <div class="row">
      <div class="col-md-12 big-title wow bounceIn">
        <h2>Agency Team</h2>
      </div>

      <div class="clearfix"></div>

      <div class="col-md-12 sub-title text-center wow slideInRight">
        <h3>Get to know the talented people behind it all, and read our latest thinking about web design process, web development and content marketing!</h3>
      </div>
    </div>
    <!-- /Title row -->

    <!-- Team members row 1-->
    <div class="row">
      <!-- item 1 -->
      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 item wow fadeInLeft">
        <div class="team-member">
          <div class="team-member-holder">
            <div class="team-member-image">
              <img alt="" src="img/team/team-member-1.jpg">
              <div class="team-member-links">
                <div class="team-member-links-list">
                  <a target="_blank" class="facebook team-member-links-item" href="#"><i class="fa fa-facebook"></i></a>
                  <a target="_blank" class="twitter team-member-links-item" href="#"><i class="fa fa-twitter"></i></a>
                  <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="fa fa-linkedin"></i></a>
                  <p>
                    Lorem ipsum dolor sit amet, quis adipiscing elit.
                  </p>
                </div>
              </div>
            </div>
            <div class="team-member-meta">
              <h4 class="team-member-name">רועי סגל</h4>
              <div class="team-member-role">
                CEO
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
      <!-- item 2 -->
      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 item wow fadeInDown">
        <div class="team-member">
          <div class="team-member-holder">
            <div class="team-member-image">
              <img alt="" src="img/team/team-member-2.jpg">
              <div class="team-member-links">
                <div class="team-member-links-list">
                  <a target="_blank" class="facebook team-member-links-item" href="#"><i class="fa fa-facebook"></i></a>
                  <a target="_blank" class="twitter team-member-links-item" href="#"><i class="fa fa-twitter"></i></a>
                  <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="fa fa-linkedin"></i></a>
                  <p>
                    Lorem ipsum dolor sit amet, quis adipiscing elit.
                  </p>
                </div>
              </div>
            </div>
            <div class="team-member-meta">
              <h4 class="team-member-name">ירון מירו</h4>
              <div class="team-member-role">
                CMO
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
      <!-- item 3 -->
      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 item wow fadeInDown">
        <div class="team-member">
          <div class="team-member-holder">
            <div class="team-member-image">
              <img alt="" src="img/team/team-member-3.jpg">
              <div class="team-member-links">
                <div class="team-member-links-list">
                  <a target="_blank" class="facebook team-member-links-item" href="#"><i class="fa fa-facebook"></i></a>
                  <a target="_blank" class="twitter team-member-links-item" href="#"><i class="fa fa-twitter"></i></a>
                  <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="fa fa-linkedin"></i></a>
                  <p>
                    Lorem ipsum dolor sit amet, quis adipiscing elit.
                  </p>
                </div>
              </div>
            </div>
            <div class="team-member-meta">
              <h4 class="team-member-name">נאדר ספאדי</h4>
              <div class="team-member-role">
                CFO
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
      <!-- item 4 -->
      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 item wow fadeInRight">
        <div class="team-member">
          <div class="team-member-holder">
            <div class="team-member-image">
              <img alt="" src="img/team/team-member-4.jpg">
              <div class="team-member-links">
                <div class="team-member-links-list">
                  <a target="_blank" class="facebook team-member-links-item" href="#"><i class="fa fa-facebook"></i></a>
                  <a target="_blank" class="twitter team-member-links-item" href="#"><i class="fa fa-twitter"></i></a>
                  <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="fa fa-linkedin"></i></a>
                  <p>
                    Lorem ipsum dolor sit amet, quis adipiscing elit.
                  </p>
                </div>
              </div>
            </div>
            <div class="team-member-meta">
              <h4 class="team-member-name">בריס לנפט</h4>
              <div class="team-member-role">
                CTO
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 item wow fadeInRight">
        <div class="team-member">
          <div class="team-member-holder">
            <div class="team-member-image">
              <img alt="" src="img/team/team-member-4.jpg">
              <div class="team-member-links">
                <div class="team-member-links-list">
                  <a target="_blank" class="facebook team-member-links-item" href="#"><i class="fa fa-facebook"></i></a>
                  <a target="_blank" class="twitter team-member-links-item" href="#"><i class="fa fa-twitter"></i></a>
                  <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="fa fa-linkedin"></i></a>
                  <p>
                    Lorem ipsum dolor sit amet, quis adipiscing elit.
                  </p>
                </div>
              </div>
            </div>
            <div class="team-member-meta">
              <h4 class="team-member-name">אורית גרון</h4>
              <div class="team-member-role">
                CTO
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 item wow fadeInRight">
        <div class="team-member">
          <div class="team-member-holder">
            <div class="team-member-image">
              <img alt="" src="img/team/team-member-4.jpg">
              <div class="team-member-links">
                <div class="team-member-links-list">
                  <a target="_blank" class="facebook team-member-links-item" href="#"><i class="fa fa-facebook"></i></a>
                  <a target="_blank" class="twitter team-member-links-item" href="#"><i class="fa fa-twitter"></i></a>
                  <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="fa fa-linkedin"></i></a>
                  <p>
                    Lorem ipsum dolor sit amet, quis adipiscing elit.
                  </p>
                </div>
              </div>
            </div>
            <div class="team-member-meta">
              <h4 class="team-member-name">ענבל יונה</h4>
              <div class="team-member-role">
                CTO
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
    </div>
    <!-- /Team members row 1-->
  </div>
</div>
<!-- /Agency team -->

<!-- Fun Facts -->
<div class="fun-wrap">
  <div class="texture-layer">
    <div class="container">
      <!-- Title row -->
      <div class="row">
        <div class="col-md-12 big-title light wow bounceIn">
          <h2>Some Fun Facts</h2>
        </div>
      </div>
      <!-- /Title row -->

      <div class="row">
        <div class="col-md-3 wow fadeInLeft">
          <div class="fun-box">
            <i class="fa fa-clock-o"></i>
            <span class="fun" data-from="0" data-to="4555" data-speed="5000" data-refresh-interval="50"></span>
            <p>Hours of work</p>
          </div>
        </div>

        <div class="col-md-3 wow fadeInDown">
          <div class="fun-box">
            <i class="fa fa-users"></i>
            <span class="fun" data-from="0" data-to="101" data-speed="5000" data-refresh-interval="50"></span>
            <p>Satisfied client</p>
          </div>
        </div>

        <div class="col-md-3 wow fadeInDown">
          <div class="fun-box">
            <i class="fa fa-check"></i>
            <span class="fun" data-from="0" data-to="222" data-speed="5000" data-refresh-interval="50"></span>
            <p>Projects Completed</p>
          </div>
        </div>

        <div class="col-md-3 wow fadeInRight">
          <div class="fun-box">
            <i class="fa fa-trophy"></i>
            <span class="fun" data-from="0" data-to="49" data-speed="5000" data-refresh-interval="50"></span>
            <p>Awards Won</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Fun Facts -->
</section>
