<!-- Page Preloader -->
<div class="page-mask">
  <div class="page-loader">

    <div class="spinner"></div>
  </div>
</div>
<!-- /Page Preloader -->

<!-- Warpper -->
<div class="wrap with-logo">

  <!-- Image Background Parallax -->
  <div id="section" class="image-parallax" style="background-image: url(img/slider/pt1.jpg)">
    <div class="bg-overlay">
      <div class="slide-content light">
        <div class="align-center">
          <!-- Top Logo -->
          <div class="top-logo">
            <div class="scrollNormal">
              <a href="#section2">
                <img width="140" alt="Agency" src="img/drupalcamp-logo.png">
              </a>
            </div>
            <div class="scrollDown">
              <a href="#section2">
                <img width="140" height="140" alt="Agency" src="img/logo2_welcome.png">
              </a>
            </div>
          </div>
          <!-- /Top Logo -->
          <ul class="text-slide">
            <li><span class="text-color">Drupalcamp</span> IL 2014</li>
          </ul>
          <a href="#section8" class="btn btn-1 img-btn">הזמן כרטיסים</a>
        </div>
      </div>
    </div>
  </div>
  <!--/Image Background Parallax -->

  <!-- Header -->
  <header id="section1" class="parallax-slider">
    <!-- Navigation -->
    <div id="navigation">
      <nav class="navbar navbar-custom cl-effect-21" role="navigation">
        <div class="container">
          <div class="row">

            <div class="col-md-10 col-sm-12 mob-menu">
              <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                    <i class="fa fa-bars"></i>
                  </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="menu">
                  <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="#section">ראשי</a></li>
                    <li><a href="#section2">על הכנס</a></li>
                    {% if site.lecturers %}
                      <li><a href="#section3">מרצים</a></li>
                    {% endif %}
                    <li><a href="#section4">תוכנית הכנס</a></li>
                    <li><a href="#section5">ציטוטים</a></li>
                    <li><a href="#section6">חסות</a></li>
                    <li><a href="#section7">יצירת קשר</a></li>
                    <li><a href="#section9">מפה</a></li>
                    <li><a href="#section8" class="btn btn-2 img-btn">הזמן כרטיסים</a></li>
                  </ul>
                </div>
                <!-- /.Navbar-collapse -->
              </div>
            </div>

            <div class="col-md-2 col-sm-12 mob-logo">
              <div class="row">
                <div class="site-logo">
                  <a href="#section"><img src="img/logo.png" alt="Drupal"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container -->
      </nav>
    </div>
    <!-- /Navigation -->
  </header>
  <!-- /Header -->
</div>
