<!-- Lecture contact form -->
<section id="program" class="contacts">
  <!-- Contact form -->
  <div class="contact-form">
    <div class="container">
      <!-- Title row -->
      <div class="row">
        <div class="col-md-12 big-title">
          <h2>הגש הרצאה</h2>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-12 sub-title text-center">
          <h3>
            כנס לא יכול להתקיים ללא תוכן. אתם מוזמנים להגיש בקשה להרצות בכנס. ההרצאה צריכה להיות בת 20 דקות + 10 דקות של שאלות ותשובות. תוכן ההרצאה יכול להיות בכל מה שקשור לבנייה וניהול אתרים עם דרופל.
          </h3>
        </div>
      </div>
      <!-- /Title row -->

      <!-- Form element row -->
      <div class="row text-center">
        <div class="col-md-2"></div>

        <div class="col-md-8">
          <form method="post" class="reply" id="contact">
            <fieldset>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="row">
                    <div class="col-md-12">
                      <input class="form-control" id="name" name="name" type="text" placeholder="שם" value="" required>
                    </div>
                    <div class="col-md-12">
                      <input class="form-control" type="email" id="email" name="email" placeholder="דואר אלקטרוני" value="" required>
                    </div>
                    <div class="col-md-12">
                      <input class="form-control" type="text" id="subject" name="subject" placeholder="נושא" value="" required>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="row">
                    <div class="col-md-12">
                      <textarea class="form-control" id="text" name="text" rows="3" cols="40" placeholder="ההודעה שלך" required></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-2 btn-2c">שלח</button>
                  <div class="success alert-success alert" style="display:none">ההודעה שלך נשלחה בהצלחה.</div>
                  <div class="error alert-danger alert" style="display:none">דואר אלקטרוני חייב להיות בתוקף ומסר צריך להיות ארוך יותר מ100 תווים.</div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>

        <div class="col-md-2"></div>
      </div>
      <!-- /Form element row -->
    </div>
  </div>
  <!-- /Contact form -->

</section>
