<section id="section3" class="portfolio">
  <!-- Title row -->
  <div class="row">
    <div class="col-md-12 big-title">
      <h2>מרצים</h2>
    </div>
    <div class="clearfix"></div>
  </div>
  <!-- /Title row -->

  <!-- Portfolio Wrap -->
  <div id="portfolio-wrap">

    <!-- Portfolio Item With PrettyPhoto  -->
    <div class="portfolio-item one-four wordpress html css">
      <div class="img-holder">
        <img class="img-responsive" src="img/portfolio/portfolio2.jpg" alt="">
        <div class="img-overlay"></div>
        <div class="overlay-effect">
          <span class="RoundBg"><a data-gal="prettyPhoto[galname]" href="img/portfolio/portfolio2.jpg"><i class="fa fa-search"></i></a>
          </span>
          <span class="RoundBg"><a href=""><i class="fa fa-link"></i></a>
          </span>
        </div>
      </div>
    </div>
    <!-- /Portfolio Item With PrettyPhoto  -->

    <!-- Portfolio Item With PrettyPhoto  -->
    <div class="portfolio-item one-four php jquery">
      <div class="img-holder">
        <img class="img-responsive" src="img/portfolio/portfolio3.jpg" alt="">
        <div class="img-overlay"></div>
        <div class="overlay-effect">
          <span class="RoundBg"><a data-gal="prettyPhoto[galname]" href="img/portfolio/portfolio3.jpg"><i class="fa fa-search"></i></a>
          </span>
          <span class="RoundBg"><a href=""><i class="fa fa-link"></i></a>
          </span>
        </div>
      </div>
    </div>
    <!-- /Portfolio Item With PrettyPhoto  -->

    <!-- Portfolio Item With PrettyPhoto  -->
    <div class="portfolio-item one-four wordpress css html">
      <div class="img-holder">
        <img class="img-responsive" src="img/portfolio/portfolio4.jpg" alt="">
        <div class="img-overlay"></div>
        <div class="overlay-effect">
          <span class="RoundBg"><a data-gal="prettyPhoto[galname]" href="img/portfolio/portfolio4.jpg"><i class="fa fa-search"></i></a>
          </span>
          <span class="RoundBg"><a href=""><i class="fa fa-link"></i></a>
          </span>
        </div>
      </div>
    </div>
    <!-- /Portfolio Item With PrettyPhoto  -->

    <!-- Portfolio Item With PrettyPhoto  -->
    <div class="portfolio-item one-four branding jquery">
      <div class="img-holder">
        <img class="img-responsive" src="img/portfolio/portfolio5.jpg" alt="">
        <div class="img-overlay"></div>
        <div class="overlay-effect">
          <span class="RoundBg"><a data-gal="prettyPhoto[galname]" href="img/portfolio/portfolio5.jpg"><i class="fa fa-search"></i></a>
          </span>
          <span class="RoundBg"><a href=""><i class="fa fa-link"></i></a>
          </span>
        </div>
      </div>
    </div>
    <!-- /Portfolio Item With PrettyPhoto  -->


    <!-- Portfolio Item With PrettyPhoto  -->
    <div class="portfolio-item one-four php html css">
      <div class="img-holder">
        <img class="img-responsive" src="img/portfolio/portfolio6.jpg" alt="">
        <div class="img-overlay"></div>
        <div class="overlay-effect">
          <span class="RoundBg"><a data-gal="prettyPhoto[galname]" href="img/portfolio/portfolio6.jpg"><i class="fa fa-search"></i></a>
          </span>
          <span class="RoundBg"><a href=""><i class="fa fa-link"></i></a>
          </span>
        </div>
      </div>
    </div>
    <!-- /Portfolio Item With PrettyPhoto  -->

    <!-- Portfolio Item With PrettyPhoto  -->
    <div class="portfolio-item one-four wordpress jquery">
      <div class="img-holder">
        <img class="img-responsive" src="img/portfolio/portfolio7.jpg" alt="">
        <div class="img-overlay"></div>
        <div class="overlay-effect">
          <span class="RoundBg"><a data-gal="prettyPhoto[galname]" href="img/portfolio/portfolio7.jpg"><i class="fa fa-search"></i></a>
          </span>
          <span class="RoundBg"><a href=""><i class="fa fa-link"></i></a>
          </span>
        </div>
      </div>
    </div>
    <!-- /Portfolio Item With PrettyPhoto  -->

    <!-- Portfolio Item With PrettyPhoto  -->
    <div class="portfolio-item one-four css php html jquery">
      <div class="img-holder">
        <img class="img-responsive" src="img/portfolio/portfolio8.jpg" alt="">
        <div class="img-overlay"></div>
        <div class="overlay-effect">
          <span class="RoundBg"><a data-gal="prettyPhoto[galname]" href="img/portfolio/portfolio8.jpg"><i class="fa fa-search"></i></a>
          </span>
          <span class="RoundBg"><a href=""><i class="fa fa-link"></i></a>
          </span>
        </div>
      </div>
    </div>
    <!-- /Portfolio Item With PrettyPhoto  -->

    <!-- Portfolio Item With PrettyPhoto  -->
    <div class="portfolio-item one-four wordpress php css">
      <div class="img-holder">
        <img class="img-responsive" src="img/portfolio/portfolio1.jpg" alt="">
        <div class="img-overlay"></div>
        <div class="overlay-effect">
          <span class="RoundBg"><a data-gal="prettyPhoto[galname]" href="img/portfolio/portfolio1.jpg"><i class="fa fa-search"></i></a>
          </span>
          <span class="RoundBg"><a href=""><i class="fa fa-link"></i></a>
          </span>
        </div>
      </div>
    </div>
    <!-- /Portfolio Item With PrettyPhoto  -->
  </div>
  <!-- /Portfolio Wrap -->
</section>
