<!-- Lecture contact form -->
<section id="section4" class="contacts">
  <!-- Contact form -->
  <div class="contact-form">
    <div class="container">
      <!-- Title row -->
      <div class="row">
        <div class="col-md-12 big-title wow bounceIn">
          <h2>הגש הרצאה</h2>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-12 sub-title text-center wow slideInRight">
          <h3>
            כנס לא יכול להתקיים ללא תוכן. אתה מוזמן להגיש בקשה להרצות בכנס. ההרצאה צריכה להיות בת 20 דקות + 10 דקות של שאלות ותשובות. תוכן ההרצאה יכול להיות בכל מה שקשור לבנייה וניהול אתרים עם דרופל.
          </h3>
        </div>
      </div>
      <!-- /Title row -->

      <!-- Form element row -->
      <div class="row text-center">
        <div class="col-md-2"></div>

        <div class="col-md-8">
          <form method="post" class="reply" id="contact">
            <fieldset>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInLeft">
                  <div class="row">
                    <div class="col-md-12">
                      <input class="form-control" id="name" name="name" type="text" placeholder="Name" value="" required>
                    </div>
                    <div class="col-md-12">
                      <input class="form-control" type="email" id="email" name="email" placeholder="Email" value="" required>
                    </div>
                    <div class="col-md-12">
                      <input class="form-control" type="text" id="subject" name="subject" placeholder="Subject" value="" required>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInRight">
                  <div class="row">
                    <div class="col-md-12">
                      <textarea class="form-control" id="text" name="text" rows="3" cols="40" placeholder="Your Message" required></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 wow fadeInUp">
                  <button type="submit" class="btn btn-2 btn-2c">Send</button>
                  <div class="success alert-success alert" style="display:none">Your message has been sent successfully.</div>
                  <div class="error alert-danger alert" style="display:none">E-mail must be valid and message must be longer than 100 characters.</div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>

        <div class="col-md-2"></div>
      </div>
      <!-- /Form element row -->
    </div>
  </div>
  <!-- /Contact form -->

  <div class="tickets-order">
    <div class="container">
      <!-- Title row -->
      <div class="row">
        <div class="col-md-12 big-title wow bounceIn">
          <h2>הזמן כרטיסים</h2>
        </div>

        <div class="col-md-12 sub-title text-center wow slideInRight">
          כל הכנס הוא בחינם. כן, בחינם! בגלל שאנחנו מתארחים בקמפוס של גוגל אתה לא צריך לשלם כלום. אתה רק צריך לכרטס כרטיס ע״מ שנוכל לדעת כמויות של אנשים.

          <br />

          <i>הכרטיס שאתה מכרטס, לך ולעובדים שלך, מוגדר כתרומה. אתה יכול להזין כל סכום כסף שתרצה. כל סכום שתתרום יעלה את רמת האוכל בצהריים, יעזור לנו להפיק מזכרת עבורך מהאירוע וישמש לאירועים עתידיים של הקהילה.</i>
        </div>

        <div class="col-md-12 sub-title text-center wow slideInRight hidden-xs">
          <div style="width:100%; text-align:left;" >
            <iframe  src="//eventbrite.com/tickets-external?eid=12541280307&ref=etckt" frameborder="0" height="260" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
            <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" >
              <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Event Registration Online</a>
              <span style="color:#ddd;"> for </span>
              <a style="color:#ddd; text-decoration:none;" target="_blank" href="https://www.eventbrite.com/e/drupalcamp-il-2014-tickets-12541280307?ref=etckt">DrupalCamp IL 2014</a>
              <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a>
            </div>
          </div>
        </div>

        <div class="col-md-12 sub-title text-center wow slideInRight visible-xs">
          <a href="http://www.eventbrite.com/e/drupalcamp-il-2014-tickets-12541280307?ref=ebtn" target="_blank"><img src="https://www.eventbrite.com/custombutton?eid=12541280307" alt="Eventbrite - DrupalCamp IL 2014" /></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Google Map -->
  <div class="map-wrap">
    <div class="wow fadeInUp">
      <div id="maps" class="google-maps">
      </div>
    </div>
  </div>
  <!-- /Google Map -->
</section>
