<section id="section4" class="program">
  <div class="service-wrap">
    <div class="container">
      <!-- Title row -->
      <div class="row">
        <div class="col-md-12 big-title">
          <h2>תוכנית הכנס</h2>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 sub-title text-center">
          <h3>דרופלקאמפ ישראל הינו הכנס המרכזי במהלך השנה המפגיש ומחבר את חברי הקהילה כולה ומאפשר לחברים חדשים שער כניסה נעים ועשיר.</h3>
        </div>
      </div>
      <!-- /Title row -->

      <!-- Table -->
      <div class="row">
        <div class='col-sm-12'>
          <div class="table-wrapper">
            <!--Desktop table-->
            <table class="table">
              <tbody>
              {% for item in site.data.program %}
                {% if item.data %}
                  <tr>
                    <td>{{ item.hour }}</td>
                    {% for data in item.data  %}
                    <td>
                      <a href="{{ data.url }}">
                        <img src="img/team/{{ data.image }}" alt="{{ data.name.he }}"/>
                      </a>
                      <span class="name">{{ data.name.he }}</span>
                      <span>|</span>
                      <span class="title">{{ data.title.he }}</span>
                      <span>|</span>
                      <span class="name">{{ data.name.en }}</span>
                      {% if data.description %}
                        <span class="extend-button"> <i class="fa fa-caret-square-o-down rotate"></i> </span>
                      {% endif %}
                      <div>
                        <span>{{ data.definition.he }}</span>
                        <span>-</span>
                        <span>{{ data.definition.en }}</span>
                      </div>
                      <p class="description">{{ data.description }}</p>
                    </td>
                    {% endfor %}
                  </tr>
                {% else %}
                  <tr class="spread">
                    <td>{{ item.hour }}</td>
                    <td>{{ item.title }}</td>
                  </tr>
                {% endif %}
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Table -->
    </div>
  </div>
</section>
