<section id="section4" class="program">
  <div class="service-wrap">
    <div class="container">
      <!-- Title row -->
      <div class="row">
        <div class="col-md-12 big-title wow bounceIn">
          <h2>תוכנית הכנס</h2>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 sub-title text-center wow slideInRight">
          <h3>דרופלקאמפ ישראל הינו הכנס המרכזי במהלך השנה המפגיש ומחבר את חברי הקהילה כולה ומאפשר לחברים חדשים שער כניסה נעים ועשיר.</h3>
        </div>
      </div>
      <!-- /Title row -->

      <!-- Table -->
      <div class="row">
        <div class='col-sm-12'>
          <div class="table-wrapper wow flipInX animated">
            <table class="table">
              <tbody>
              {% for items in site.data.program %}

              {% endfor %}
              <tr class="spread">
                <td>8:30 - 9:00</td>
                <td class="text-center" colspan="2">התכנסות כיבוד קל ושתיה</td>
              </tr>
              <tr>
                <th>&nbsp;</th>
                <th>אולם - 1</th>
                <th>אולם - 2</th>
              </tr>
              <tr>
                <td>9:00 - 10:00</td>
                <td>שם המרצה</strong></br>
                  <p>תאור מקוצר על גבי ההרצאה</p>
                </td>
                <td>שם המרצה</strong></br>
                  <p>תאור מקוצר על גבי ההרצאה</p>
                </td>
              </tr>
              <tr>
                <td>10:00 - 11:00</td>
                <td>שם המרצה</strong></br>
                  <p>תאור מקוצר על גבי ההרצאה</p>
                </td>
                <td>שם המרצה</strong></br>
                  <p>תאור מקוצר על גבי ההרצאה</p>
                </td>
              </tr>
              <tr>
                <td>11:00 - 12:00</td>
                <td>שם המרצה</strong></br>
                  <p>תאור מקוצר על גבי ההרצאה</p>
                </td>
                <td>שם המרצה</strong></br>
                  <p>תאור מקוצר על גבי ההרצאה</p>
                </td>
              </tr>
              <tr class="spread">
                <td>12:00 - 13:00</td>
                <td class="text-center" colspan="2">הפסקת ארוחת צהריים</td>
              </tr>
              <tr>
                <th>&nbsp;</th>
                <th>אולם - 1</th>
                <th>אולם - 2</th>
              <tr>
                <td>13:00 - 14:00</td>
                <td>שם המרצה</strong></br>
                  <p>תאור מקוצר על גבי ההרצאה</p>
                </td>
                <td>שם המרצה</strong></br>
                  <p>תאור מקוצר על גבי ההרצאה</p>
                </td>
              </tr>
              <tr>
                <td>14:00 - 15:00</td>
                <td>שם המרצה</strong></br>
                  <p>תאור מקוצר על גבי ההרצאה</p>
                </td>
                <td>שם המרצה</strong></br>
                  <p>תאור מקוצר על גבי ההרצאה</p>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Table -->
    </div>
  </div>
</section>
