<section id="section5" class="clients">
  <div class="testimonial-wrap">
    <div class="texture-layer">
      <div class="container">
        <!-- Title row -->
        <div class="row">
          <div class="col-md-12 big-title light wow bounceIn">
            <h2>ציטוטים בדיוניים</h2>
          </div>

          <div class="clearfix"></div>

        </div>
        <!-- /Title row -->

        <!-- Testimonial row-->
        <div class="row">
          <div class="testimonials">
            <div class="col-md-1">
              <div class="carousel-controls">
                <a class="prev" href="#testimonials-carousel" data-slide="prev">
                  <i class="fa fa-angle-left"></i>
                </a>

              </div>
            </div>
            <div class="col-md-10">
              <div id="testimonials-carousel" class="testimonials-carousel slide">
                <div class="carousel-inner">
                  <div class="item active">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="testimonial item">
                        <p>
                          Form API is awesome.
                        </p>
                        <div class="testimonials-arrow"></div>
                        <div class="author">
                          <div class="testimonial-image ">
                            <img alt="" src="img/testimonial/team-member-1.jpg">
                          </div>
                          <div class="testimonial-author-info">
                            <a href="#"><span class="color">No one, </span></a> ever.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="testimonial item">
                        <p>
                          Drupal n is a huge improvement than Drupal (n-1).
                        </p>
                        <div class="testimonials-arrow"></div>
                        <div class="author">
                          <div class="testimonial-image ">
                            <img alt="" src="img/testimonial/team-member-2.jpg">
                          </div>
                          <div class="testimonial-author-info">
                            <a href="#"><span class="color">Any Drupal developer</span></a> Drupal
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="testimonial item">
                        <p>
                          Drupal is far the best CMS/CMF software in the market.
                        </p>
                        <div class="testimonials-arrow"></div>
                        <div class="author">
                          <div class="testimonial-image ">
                            <img alt="" src="img/testimonial/team-member-3.jpg">
                          </div>
                          <div class="testimonial-author-info">
                            <a href="#"><span class="color">Michael Babker</span></a>  Joomla!
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="testimonial item">
                        <p>
                          I love Drupal as i love Symfony.
                        </p>
                        <div class="testimonials-arrow"></div>
                        <div class="author">
                          <div class="testimonial-image ">
                            <img alt="" src="img/testimonial/team-member-3.jpg">
                          </div>
                          <div class="testimonial-author-info">
                            <a href="#"><span class="color">Fabien Potencier</span></a>  SensioLabs
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="testimonial item">
                        <p>
                          You live once, Your code live forever
                        </p>
                        <div class="testimonials-arrow"></div>
                        <div class="author">
                          <div class="testimonial-image ">
                            <img alt="" src="img/testimonial/team-member-3.jpg">
                          </div>
                          <div class="testimonial-author-info">
                            <a href="#"><span class="color">Chuck norris</span></a>  java 101.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="testimonial item">
                        <p>
                          And then he cleared the cache. Since then, i didn't see him any more.
                        </p>
                        <div class="testimonials-arrow"></div>
                        <div class="author">
                          <div class="testimonial-image ">
                            <img alt="" src="img/testimonial/team-member-3.jpg">
                          </div>
                          <div class="testimonial-author-info">
                            <a href="#"><span class="color">MySQL talks about a cace ID.</span></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-1">
              <div class="carousel-controls pull-right">
                <a class="next" href="#testimonials-carousel" data-slide="next">
                  <i class="fa fa-angle-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- /Testimonial row-->
      </div>
    </div>
  </div>
</section>
