<section id="section6" class="pricing">
  <div class="container">
    <div class="row flat">
      <!-- Title row -->
      <div class="row">
        <div class="col-md-12 big-title wow bounceIn">
          <h2>חסות</h2>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-12 sub-title text-center wow slideInRight">
          <h3>באפשרותך לתרום כסף לכנס. כל תרומה מקנה לך סל הטבות. במידה ובחרת בחבילת פלטינום, יש באפשרותך לבחור אולם(2 בסך הכל) ושעה בהם תוכל להעביר הרצאה.</h3>
        </div>
      </div>
      <!-- /Title row -->

      <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <ul class="plan plan2">
            <li class="plan-name">
              כסף
            </li>
            <li class="plan-price">
              <strong>1000 ₪</strong>
            </li>
            <li>
              לוגו באתר
            </li>
            <li>
              תוכן פרסומי בכנס
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInRight">
          <ul class="plan plan4 featured">
            <li class="plan-name">
              פלטינום
            </li>
            <li class="plan-price">
              <strong>3000 ₪</strong>
            </li>
            <li>
              לוגו באתר
            </li>
            <li>
              תוכן פרסומי בכנס
            </li>
            <li>
              אזכור במצגת פתיחה ברשימה של הספונסרים
            </li>
            <li>
              בחירת אולם ושעה להעברת מצגת
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInDown">
          <ul class="plan plan3">
            <li class="plan-name">
              זהב
            </li>
            <li class="plan-price">
              <strong>2000 ₪</strong>
            </li>
            <li>
              לוגו באתר
            </li>
            <li>
              תוכן פרסומי בכנס
            </li>
            <li>
              אזכור במצגת פתיחה ברשימה של הספונסרים
            </li>
          </ul>
        </div>
      </div>
    </div>
    <Br />
    <div class="contact text-center">
      <a href="#" class="btn btn-2 btn-2c">צור קשר</a>
    </div>
  </div>
</section>
