<section id="section6" class="pricing">
  <div class="container">
    <div class="row flat">
      <!-- Title row -->
      <div class="row">
        <div class="col-md-12 big-title">
          <h2>חסויות</h2>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-12 sub-title text-center">
          <h3>
            כאמור ההשתתפות בכנס היא חינם ועל כן אנו צריכים חסויות. כל תרומה מקנה לך סל הטבות. במידה ובחרת בחבילת פלטינום - זכית! יש באפשרותך הזכות לבחור מבין 2 האולמות המעוצבים, את האולם ואת השעה בה תוכלו להעביר הרצאה.
          </h3>
        </div>
      </div>
      <!-- /Title row -->

      <div class="row sponsors-deals">

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <ul class="plan plan2">
            <li class="plan-name">
              כסף
            </li>
            <li class="plan-price">
              <strong>1000 ₪</strong>
            </li>
            <li>
              לוגו באתר
            </li>
            <li>
              תוכן פרסומי בכנס
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <ul class="plan plan4 featured">
            <li class="plan-name">
              פלטינום
            </li>
            <li class="plan-price">
              <strong>3000 ₪</strong>
            </li>
            <li>
              לוגו באתר
            </li>
            <li>
              תוכן פרסומי בכנס
            </li>
            <li>
              אזכור במצגת פתיחה ברשימה של הספונסרים
            </li>
            <li>
              בחירת אולם ושעה להעברת מצגת
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <ul class="plan plan3">
            <li class="plan-name">
              זהב
            </li>
            <li class="plan-price">
              <strong>2000 ₪</strong>
            </li>
            <li>
              לוגו באתר
            </li>
            <li>
              תוכן פרסומי בכנס
            </li>
            <li>
              אזכור במצגת פתיחה ברשימה של הספונסרים
            </li>
          </ul>
        </div>
      </div>
    </div>
    <Br />
    <div class="contact text-center">
      <!--Hidden in mobile-->
      <a href="mailto:drupalcamp@gizra.com?subject=חסות ל - DrupalCamp" class="btn btn-2 btn-2c hidden-xs">צור קשר</a>
      <!--Visible only in mobile-->
      <a href="tel:033731222" class="btn btn-2 btn-2c visible-xs">צור קשר</a>
    </div>
  </div>
</section>
