<section id="section8">
  <div class="tickets-order">
    <div class="container">
      <!-- Title row -->
      <div class="row">
        <div class="col-md-12 big-title wow bounceIn">
          <h2>הזמן כרטיסים</h2>
        </div>

        <div class="col-md-12 sub-title text-center wow slideInRight">
          כל הכנס הוא בחינם. כן, בחינם! בגלל שאנחנו מתארחים בקמפוס של גוגל אתה לא צריך לשלם כלום. אתה רק צריך לכרטס כרטיס ע״מ שנוכל לדעת כמויות של אנשים.

          <br />

          <i>הכרטיס שאתה מכרטס, לך ולעובדים שלך, מוגדר כתרומה. אתה יכול להזין כל סכום כסף שתרצה. כל סכום שתתרום יעלה את רמת האוכל בצהריים, יעזור לנו להפיק מזכרת עבורך מהאירוע וישמש לאירועים עתידיים של הקהילה.</i>
        </div>

        <div class="col-md-12 sub-title text-center wow slideInRight hidden-xs">
          <div style="width:100%; text-align:left;" >
            <iframe  src="//eventbrite.com/tickets-external?eid=12541280307&ref=etckt" frameborder="0" height="260" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
            <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" >
              <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Event Registration Online</a>
              <span style="color:#ddd;"> for </span>
              <a style="color:#ddd; text-decoration:none;" target="_blank" href="https://www.eventbrite.com/e/drupalcamp-il-2014-tickets-12541280307?ref=etckt">DrupalCamp IL 2014</a>
              <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a>
            </div>
          </div>
        </div>

        <div class="col-md-12 sub-title text-center wow slideInRight visible-xs">
          <a href="http://www.eventbrite.com/e/drupalcamp-il-2014-tickets-12541280307?ref=ebtn" target="_blank"><img src="https://www.eventbrite.com/custombutton?eid=12541280307" alt="Eventbrite - DrupalCamp IL 2014" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
