html {
  text-align: right;

  .text-slide,
  .text-center,
  .content-box-info {
    direction: rtl;

    .date-place {
      font-size: 44px;
      line-height: 35px;

      @media (max-width: 480px) {
        font-size: 13px;
        line-height: 20px;
      }

      @media (min-width: 480px) and (max-width: 767px) {
        font-size: 21px;
        line-height: 20px;
      }

      @media (min-width: 768px) and (max-width: 979px) {
        font-size: 28px;
        line-height: 30px;
      }

      a,
      a:hover {
        color: white;
        text-decoration: none;
      }
    }
  }

  .navbar-nav {

    li {
      float: right;
    }
  }

  .progress-bar {
    padding-right: 20px;
    text-align: right;
    direction: rtl;
    float: right;
  }

  .table-wrapper {
    direction: rtl;
  }

  .social-icons-footer-bottom {
    padding-right: 10px;

    li {
      margin-left: 20px;
      margin-right: 0;
    }
  }
}
