@import "compass/css3/transition";
@import "compass/css3/transform";
@import 'mixins';
@import 'rtl';

ul.text-slide {
  list-style: none;
  padding: 0;
}

.navbar-custom {

  .navbar-nav {

    li {

      .btn,
      .btn:hover {
        color: white;
        background-color: $cyan;

        &:before,
        &:after {
          display: none;
        }
      }
    }
  }
}

section {

  .container {
    padding-top: 90px;

    .testimonial  {

      p {
        font-family: "Open Sans",Helvetica,Arial,sans-serif;
      }
    }
  }

  .team-members {

    > div {
      float: right;

      &:first-child {

        @media (min-width: 992px) {
          margin-right: 95px;
        }
      }
    }
  }

  &.program	{

    .table-wrapper {

      th {
        text-align: right;
      }

      td {
        @media (min-width: 768px) {
          width: 40%;

          &:first-child {
            width: 15%;
          }
        }
      }

      .spread {

        td {
          width: 100%;
        }

        background: rgba($cyan, .15);
      }

      .hour {
        background: rgba($gray, .10);
      }

      .name {
        font-weight: bold;
        text-decoration: none;
        @include transition-property(color);
        @include transition-duration(0.5s);
        @include transition-timing-function(ease-in);
        cursor:pointer;
        cursor:hand;

        &:hover {
          color: $darkCyan;
        }
      }

      .rotate {
        @include transition-duration(0.5s);
        @include transition-timing-function(ease-in);

        &.deg180 {
          @include transform(rotate(180deg));
        }
      }

      .title {
        font-weight: bold;
        @include transition-property(color);
        @include transition-duration(0.5s);
        @include transition-timing-function(ease-in);
        cursor:pointer;
        cursor:hand;

        &:hover {
          color: #000000;
        }
      }

      .description {
        display: none;
        @media (min-width: 769px) {
          width: 85%;
        }
      }

      .hall {
        margin-left: 70px;
      }
    }
  }
}
